.app-routing {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	/* font-size: calc(10px + 2vmin); */
	/* color: white; */
	text-wrap: wrap;
}

.app-header {
	width: 100%;
	background-color: var(--primary-color);
	text-align: left;
	/* background-color: var(--secondary-color); */
	/* background-color: var(--tertiary-color); */
}

.app-title {
	/* color: var(--primary-color); */
	color: black;

	font-family: var(--primary-font);
	font-size: var(--primary-font-size);
	font-weight: var(--primary-font-weight);
	/* text-decoration: underline; */
	/* text-decoration-color: var(--secondary-color); */
	border-bottom: 5px solid white;
	padding: 20px;
}

.nav-bar {
	display: flex;
	width: 100%;
	background-color: var(--primary-background-color);
	justify-content: flex-end;
	/* font-size: 1rem; */
}

.nav-item {
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px;
	transition: 0.2s;
	border-top: 5px solid var(--primary-background-color);
	border-bottom: 5px solid var(--primary-background--color);
}

.nav-item:hover {
	cursor: pointer;
	border-bottom: 5px solid var(--secondary-color);
}

.nav-item.active {
	/* border-top: 5px solid var(--primary-color); */
	border-top: 5px solid black;
	border-bottom: 5px solid var(--secondary-background-color);
	background-color: var(--secondary-background-color);
}

.route-content {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/* background-color: var(--primary-background-color); */
}

.app-footer {
	width: 100%;
	background-color: var(--primary-color);
}

.footer-content-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	/* padding: 1rem; */
	gap: 1rem; /* optional, for space between sections */
	flex-wrap: wrap; /* optional if you want them to wrap on smaller screens */
	align-items: stretch;
}

.footer-section {
	flex: 1;
	text-align: center;
	padding: 0.1rem;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* color: white; */
	padding: 0.3rem;
}

.footer-section.left {
	display: flex;
	/* align-items: flex-start; */
	align-items: flex-end;
}

.footer-section.right {
	display: flex;
	/* align-items: flex-end; */
	align-items: flex-start;
}

.footer-logo {
	height: auto;
	width: 150px;
	border-radius: 50%;
	/* border: 3px solid white; */
	padding: 0.3rem;
	/* background-color: var(--lambda-red); */
	margin: 0 auto;
}

.icon-pair {
	width: fit-content;
	display: flex;
	align-items: center;
}

.icon-pair:hover {
	cursor: pointer;
	transition: 0.2s;
	color: white;
}

.icon-pair p {
	margin-left: 5px;
}
