.app-container {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	text-align: left;
	/* padding: 1.5em; */
}

.app-name-reference {
	font-family: var(--primary-font);
	/* font-size: var(--primary-font-size); */
	font-weight: var(--primary-font-weight);
}

.section-header {
	background-color: var(--secondary-background-color);
	padding: var(--standard-padding);
	border-radius: 0px 0px var(--container-border-radius) var(--container-border-radius);
}

.content-container {
	padding: var(--standard-padding);
}

.description {
	text-indent: 1.5em;
	background-color: var(--primary-background-color);
	margin: 10px;
	padding: var(--standard-padding);
	/* width: 100%; */
	border-radius: var(--container-border-radius);
}
.description p {
	padding: var(--standard-padding);
}

.tool-container {
	width: 90%;
	margin: 0 auto;
	background-color: var(--primary-background-color);
	padding: var(--standard-padding);
	border-radius: var(--container-border-radius);
}

.tool-details-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.status-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--standard-padding);
}
.status-container p {
	margin-right: 10px;
}

.tool-title {
	margin: 0px;
	font-family: var(--primary-font);
	font-weight: var(--primary-font-weight);
	border-bottom: 3px solid var(--tertiary-color);
}

.link-icon {
	height: var(--standard-icon-size);
	width: var(--standard-icon-size);
	/* background-color: black; */
	color: blue;
	margin: var(--standard-padding);
	/* padding: var(--standard-padding); */
	border-radius: var(--container-border-radius);
	transition: var(--transition-time);
}

.link-icon:hover {
	cursor: pointer;
}

.status-icon {
	height: var(--standard-icon-size);
	width: var(--standard-icon-size);
}

.status-icon.complete {
	color: green;
}

.status-icon.in-progress {
	color: orange;
}

.status-icon.incomplete {
	color: red;
}
