.NotFoundContainer {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--standard-padding);
	height: fit-content;
	align-self: center;
	background-color: var(--primary-background-color);
	border-radius: var(--container-border-radius);
}

.PageNotFoundMessage {
	font-family: var(--primary-font);
	/* font-size: var(--primary-font-size); */
	font-weight: var(--primary-font-weight);
}
