.app-routing {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	/* font-size: calc(10px + 2vmin); */
	/* color: white; */
	text-wrap: wrap;
}

.app-header {
	width: 100%;
	background-color: var(--primary-color);
	text-align: left;
	/* background-color: var(--secondary-color); */
	/* background-color: var(--tertiary-color); */
}

.app-title {
	/* color: var(--primary-color); */
	color: black;

	font-family: var(--primary-font);
	font-size: var(--primary-font-size);
	font-weight: var(--primary-font-weight);
	/* text-decoration: underline; */
	/* text-decoration-color: var(--secondary-color); */
	border-bottom: 5px solid white;
	/* padding: var(--standard-padding); */
}

.nav-bar {
	display: flex;
	width: 100%;
	background-color: var(--secondary-background-color);
	justify-content: flex-end;
	/* font-size: 1rem; */
	padding-bottom: var(--standard-padding);
}

.nav-item {
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: var(--standard-padding);
	transition: var(--transition-time);
	border-top: 5px solid var(--secondary-background-color);
	border-bottom: 5px solid var(--secondary-background--color);
	border-radius: 0px 0px var(--container-border-radius) var(--container-border-radius);
}

.nav-item:hover {
	cursor: pointer;
	background-color: var(--primary-background-color);
	border-top: 5px solid var(--tertiary-color);
	/* color: var(--secondary-color); */
	/* font-weight: bold; */
	/* text-decoration: underline; */
}

.nav-item.active {
	border-top: 5px solid var(--primary-color);
	/* border-top: 5px solid var(--secondary-color); */
	/* border-bottom: 5px solid var(--primary-background-color); */
	background-color: var(--primary-color);
	/* border-radius: 0px 0px var(--container-border-radius) var(--container-border-radius); */
}

.route-content {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/* background-color: var(--primary-background-color); */
}

.app-footer {
	width: 100%;
	background-color: var(--primary-color);
}

.footer-content-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	/* gap: 1rem; */
	flex-wrap: wrap;
	/* align-items: stretch; */
	justify-content: center;
	align-items: center;
}

.footer-section {
	flex: 1;
	text-align: center;
	/* border: 2px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* justify-content: space-evenly; */
	/* justify-content: space-between; */
	padding: var(--standard-padding);
	height: fit-content;
	/* background-color: var(--secondary-background-color); */
	/* border-radius: var(--container-border-radius); */
}

.footer-section.left {
	display: flex;
	/* align-items: flex-start; */
	align-items: flex-end;
	text-align: right;
	/* border-top: 3px solid var(--tertiary-color);
	border-bottom: 3px solid var(--tertiary-color);
	border-radius: var(--container-border-radius) 0px 0px var(--container-border-radius); */
	/* background-color: var(--secondary-background-color); */
}

.footer-section.right {
	display: flex;
	/* align-items: flex-end; */
	align-items: flex-start;
	text-align: left;
	/* border-top: 3px solid var(--tertiary-color);
	border-bottom: 3px solid var(--tertiary-color);
	border-radius: 0px var(--container-border-radius) var(--container-border-radius) 0px; */
	/* background-color: var(--secondary-background-color); */
}

.footer-logo {
	height: auto;
	width: 150px;
	border-radius: 50%;
	/* border: 3px solid white; */
	border: 3px solid var(--tertiary-color);
	padding: var(--standard-padding);
	background-color: var(--lambda-red);
	margin: 0 auto;
}

.icon-pair {
	/* width: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: var(--transition-time);
}

.icon-pair:hover {
	cursor: default;
}

.icon-pair.link:hover {
	cursor: pointer;
	color: white;
}

.icon-pair p {
	/* background-color: red; */
	word-wrap: break-word;
	width: 100%;
}

.footer-icon {
	height: var(--standard-icon-size);
	width: var(--standard-icon-size);
	stroke-width: var(--standard-icon-stroke-width);
	padding: 0px;
	margin: 0px;
}

.left .icon-pair .footer-icon {
	margin-left: 5px;
}

.right .icon-pair .footer-icon {
	margin-right: 5px;
}
