.video-games-app-container {
	width: 100%;
	/* border: 3px solid yellow; */
	/* width: fit-content; */
	display: flex;
	flex-direction: column;
}

.app-content-container {
	display: flex;
	/* display: block; */
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: var(--standard-padding);
}

.container-block {
	width: 50%;
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	padding: var(--standard-padding);
}

.title-container {
	background-color: var(--secondary-background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: var(--standard-padding);
	border-radius: 0px 0px var(--standard-border-radius) var(--standard-border-radius);
}

.video-game-container {
	width: 500px;
	height: 300px;
	/* width: 50%;
	height: 290px; */
	border: 3px solid var(--secondary-background-color);
	background-color: black;
	border-radius: var(--standard-border-radius);
	background-position: center;
	background-size: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* margin: var(--standard-padding); */
	transition: 0.4s ease-in-out;
	/* transition: 0.7s; */
	background-repeat: no-repeat;
	/* background-size: cover; */

	/* FOR PARALLAX */
	background-size: 115%;
}

.video-game-container:hover {
	cursor: pointer;
	transform: scale(1.03);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
	/* transition: transform var(--transition-time) ease, box-shadow var(--transition-time) ease; */

	/* FOR PARALLAX */
	background-size: 107%;
}

.video-game-details-container {
	background-color: rgba(0, 0, 0, 0.699);
	backdrop-filter: blur(2px);

	color: white;
	display: flex;
	padding: var(--standard-padding);
	justify-content: space-between;
	align-items: center;
	border-radius: 0px 0px var(--standard-border-radius) var(--standard-border-radius);
}

.video-game-header-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.video-game-title {
	font-family: var(--primary-font);
	font-weight: var(--primary-font-weight);
	font-size: 18px;
	color: var(--secondary-color);
	text-decoration: none;
	text-align: left;
}

.video-game-rating {
	background-color: rgba(0, 0, 0, 0.572);
	padding: var(--standard-padding);
	border-radius: var(--standard-border-radius);
}

.video-game-platform {
	letter-spacing: 0.5px;
	font-size: 0.85rem;
	font-weight: 500;
}

.rating-icon {
	height: var(--standard-icon-size);
	width: var(--standard-icon-size);
	color: grey;
}
.rating-icon.active {
	height: var(--standard-icon-size);
	width: var(--standard-icon-size);
	color: gold;
}

.error-message {
	margin: 0 auto;
}
