.video-games-app-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.app-content-container {
	border: 3px solid green;
	width: 100%;
	flex: 1;
	background-color: pink;
	padding: var(--standard-padding);
}

.title-container {
	background-color: var(--secondary-background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.video-game-container {
	border: 3px solid red;
	background-color: orange;

	display: flex;
	flex-direction: column;
	width: fit-content;
	padding: var(--standard-padding);
}
