.WeatherContainer {
	display: flex;
	flex-direction: column;
	flex-grow: inherit;
	align-items: center;
}

.HeadingSection {
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	text-align: left;
	width: 100%;
	justify-content: space-between;
}

.SectionTitle {
	margin: 0px;
	font-family: var(--primary-font);
	font-weight: var(--primary-font-weight);
}
.HeadingSection p {
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.CurrentConditionImage {
	height: 150px;
	width: auto;
	border-radius: 50%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px rgb(118, 118, 118);
}

.DataSection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid pink;
	width: 100%;
}
