.weather-container {
	display: flex;
	flex-direction: column;
	flex-grow: inherit;
	align-items: center;
	/* max-width: 50%; */
	margin: 0 auto;
	justify-content: center;
	height: 100%;
}

.heading-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: flex;
	width: 100%;
	background-color: var(--secondary-background-color);
	padding: 1rem;
}

.section-title {
	margin: 0px;
	font-family: var(--primary-font);
	font-weight: var(--primary-font-weight);
}

.heading-section p {
	text-align: right;
	padding: var(--standard-padding);
	margin: 0px;
}

.current-condition-image {
	height: 75px;
	width: auto;
	border-radius: 50%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid white;
}

.data-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: var(--container-border-radius);
	padding: var(--standard-padding);
	height: 100%;
	background-color: var(--primary-background-color);
	/* border: 3px solid white; */
	/* width: 100%; */
}

.main-content {
	width: 100%;
}

.header-subsection {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	justify-content: space-between;
	padding: var(--standard-padding);
	margin-bottom: 0.5rem;
	border-bottom: 3px solid rgba(73, 73, 73, 0.218);
}

.data-subsection {
	text-align: left;
}

.data-end {
	display: flex;
	align-self: flex-end;
	justify-self: flex-end;
	bottom: 0px;
}
